/* Font */
/* Extra bold */
@font-face {
    font-family: 'Inter XB';
    src: url(/assets/font/Inter_18pt-ExtraBold.ttf);
}

/* Bold */
@font-face {
    font-family: 'Inter B';
    src: url(/assets/font/Inter_28pt-Bold.ttf);
}

/* Regular */
@font-face {
    font-family: 'Inter';
    src: url(/assets/font/Inter_18pt-Regular.ttf);
}

/* Medium */
@font-face {
    font-family: 'Inter M';
    src: url(/assets/font/Inter_18pt-Medium.ttf);
}

/* Color variables */
:root {
    --primary: #778DA9;
    --secondary: #1B263B;
    --accent: linear-gradient(180deg, #0D1B2A 40%, #1B263B 100%);
    --extra: #415A77;
    --text-color: #E0E1DD;
    --black-accent: #1b1b1b;
}

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

button {
    border-radius: 30px;
    border: none;
    padding: 15px 35px;
    font-family: 'Inter XB', 'Inter', Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.04);
    opacity: 85%;
}

.main-btn {
    background-color: var(--text-color);
    color: var(--secondary);
}

.accent-btn {
    background: var(--accent);
    color: var(--text-color);
}

section {
    margin-top: 125px;
    padding: 0 7rem;
}

body {
    background-color: var(--primary);
    color: var(--text-color);
}

/* Header style */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secondary);
    height: 100px;
    user-select: none;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7rem;
    align-items: center;
    height: 100%;
}

.header-search,
.get-started-btn {
    height: 53px;
}

.header-content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter XB', 'Inter', Arial, Helvetica, sans-serif;
    background-color: var(--extra);
    border-radius: 30px;
    height: 45px;
    width: 140px;
}

.header-search {
    display: flex;
    align-items: center;
    background-color: var(--text-color);
    border-radius: 30px;
    padding: 3px 6px;
}

.header-search input {
    font-family: 'Inter B', 'Inter', Arial, Helvetica, sans-serif;
    border-radius: 30px;
    padding: 0 8px;
    width: 250px;
    background-color: var(--text-color);
    color: var(--secondary);
    font-size: 1rem;
    border: none;
    outline: none;
}

.header-search button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--extra);
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    padding: 0;
    height: 45px;
    width: 45px;
    font-size: 1.3rem;
    transform: translate(0);
}

.header-search button:active {
    opacity: 30%;
}

.header-content nav {
    display: flex;
    gap: 1rem;
}

.nav-expand {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.nav-inner-expand {
    display: none;
    min-width: 170px;
    flex-direction: column;
    position: absolute;
    top: 25px;
    gap: 5px;
    backdrop-filter: blur(5px);
    background-color: #1b1b1bc2;
    padding: 10px;
    border-radius: 10px;
    transition: opacity 0.4s ease, max-height 0.4s ease;
}

.nav-inner-expand a {
    padding: 4px;
    border-radius: 5px;
}

.nav-inner-expand a:hover {
    opacity: 70%;
}

.nav-expand:hover .nav-inner-expand {
    display: flex;
}

.header-content a,
.header-content p {
    color: var(--text-color);
    font-family: 'Inter M', 'Inter', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cart-btn {
    background: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 0;
}

.fa-solid.fa-exclamation{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.5rem;
    height: 20px;
    width: 20px;
    background-color: #ff0000;
    padding: 5px;
    border-radius: 50%;
}

.cart-btn:hover {
    transform: translate(0);
}

.cart-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
}

.cart-overlay.active {
    display: flex;
}

.cart-popup {
    height: 200px;
    width: 300px;
    background-color: var(--text-color);
    color: var(--secondary);
    border-radius: 30px;
    padding: 1rem;
}

.cart-popup-result {
    margin-top: 2.5rem;
}

.cart-popup-result h3,
.cart-popup-result p {
    text-align: center;
    color: var(--secondary);
    font-size: 1.2rem;
}

.cart-popup-result p {
    font-size: 12px;
    opacity: 50%;
}

.cart-popup-inner {
    display: flex;
    justify-content: space-between;
}

.cart-popup button {
    padding: 0;
}

.cart-popup button i {
    font-size: 2rem;
    color: #ff0000;
}

.cart-popup button:hover {
    transform: translate(0);
}

.get-started-btn {
    display: flex;
    align-items: center;
    gap: 8px;
}

.get-started-btn i {
    color: var(--secondary);
    font-size: 1.3rem;
}

/* Home style */
.home-content {
    display: flex;
    justify-content: space-between;
}

.home-main,
.home-side {
    border-radius: 30px;
    height: 1200px;
    padding: 1.5rem;
}

.home-main {
    background-color: var(--extra);
    width: 800px;
}

.home-main-1 {
    height: 500px;
}

.home-main h1 {
    font-family: 'Inter B', 'Inter', Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

.home-main h2 {
    font-weight: 100;
    color: var(--primary);
    width: fit-content;
    border-right: 2px solid;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #778DA9
    }
}

.home-main-btns {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.how-it-works-container {
    margin-top: 3rem;
}

.how-it-works-div,
#how-it-works-title {
    display: flex;
    justify-content: flex-end;
}

#how-it-works-title {
    font-family: 'Inter B', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.how-it-works-div {
    gap: 1rem;
}

.how-it-works {
    padding: 1rem;
    border-radius: 30px;
    background-color: var(--text-color);
    color: var(--secondary);
    height: 190px;
    width: 190px;
}

.how-it-works h1 {
    font-size: 3.5rem;
}

.how-it-works h3 {
    font-family: 'Inter XB', 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

.how-it-works p {
    font-size: 14px;
}

.home-side {
    text-align: right;
    background-color: var(--text-color);
    color: var(--secondary);
    width: 250px;
}

.home-side-game-card {
    background-color: var(--extra);
    color: var(--text-color);
    border-radius: 10px;
    margin: 8px 0;
}

.home-side-game-content {
    padding: 0 8px;
}

.home-side-game-content * {
    margin: 5px 0;
}

.home-side-game-content p {
    font-size: 14px;
    color: var(--primary);
}

.home-side-game-card button {
    height: 40px;
    padding: 0 8px;
}

.home-side-game-card button i{
    margin: 0 8px;
}

.home-side-game-img {
    background-color: var(--secondary);
    height: 85px;
    border-radius: 10px;
}