/* Fonts */
@font-face {
    font-family: 'BwModelica XB';
    src: url(/assets/font/BwModelica-XB.otf);
}

@font-face {
    font-family: 'BwModelica B';
    src: url(/assets/font/BwModelica-B.otf);
}

@font-face {
    font-family: 'BwModelica';
    src: url(/assets/font/BwModelica.otf);
}

/* Color variables */
:root {
    --primary: #778DA9;
    --secondary: #1B263B;
    --accent: linear-gradient(180deg, #0D1B2A 40%, #1B263B 100%);
    --extra: #415A77;
    --text-color: #E0E1DD;
}

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BwModelica', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--text-color);
}

button{
    transition: 0.3s ease;
}

button:hover{
    transform: scale(1.04);
    opacity: 85%;
}

body{
    background: var(--primary);
}

/* Header style */
header {
    background: var(--secondary);
    height: 100px;
    user-select: none;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4rem;
}

.header-content h1 {
    font-family: 'BwModelica XB', Arial, Helvetica, sans-serif;
    background: var(--extra);
    border: 2px solid var(--primary);
    border-radius: 30px;
    padding: 5px 1rem;
}

.header-content nav {
    display: flex;
    gap: 1rem;
}

.header-content a,
.header-content p {
    font-family: 'BwModelica B', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.nav-dropdown-store,
.nav-dropdown-sales{
    display: none;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 65px;
    left: 730px;
    padding: 1rem;
    border: 2px solid var(--primary);
    border-radius: 30px;
    background: var(--extra);
}

.nav-dropdown-store.visible{
    display: flex;
}

.nav-dropdown-store a:hover{
    opacity: 85%;
}

.header-content button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: var(--text-color);
    color: var(--secondary);
    border: none;
    padding: 15px 35px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'BwModelica XB', Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.header-content i{
    color: var(--secondary);
    font-size: 1.3rem;
}